
.cart-size {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    width: 10rem;
}

.box ul {
    padding: 0;
    margin: 0;
    clear:both
} 

.box li {
    list-style-type: none;
    padding-right: 0.5rem;
    float: left;
    position: relative;
}

.box input[type="radio"]:not(:checked), 
input[type="radio"]:checked {
  position: absolute;
  left: -9999%;
}

.box input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background-color: white;
  margin-bottom: 10px;
  height: 2rem;
  width: 2rem;
  text-align: center; 
}

.box input[type="radio"]:checked + label {
  border: 1px solid white;
  color: white;
  background-color: black;

}

.box input[type = 'radio'] :checked {
  border: 4px solid white;
  color: white;
  background-color: black;
}
