
.box2 {
    display: flex;
    flex-direction: row;
    width: 10rem;
}

.box2 ul {
    padding: 0;
    margin: 0;
    clear:both
} 

.box2 li {
    list-style-type: none;
    padding-right: 0.5rem;
    float: left;
    position: relative;
}

.box2 input[type="radio"]:not(:checked), 
input[type="radio"]:checked {
  position: absolute;
  left: -9999%;

}

.box2 input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 2rem;
  width: 2rem;
  text-align: center; 
}

.box2 input.color-box-red[type="radio"] + label {
background-color: red;
}

.box2 input.color-box-green[type="radio"] + label {
background-color: green;
}

.box2 input.color-box-blue[type="radio"] + label {
background-color: blue;
}

.box2 input.color-box-white[type="radio"] + label {
background-color: white;
}

.box2 input[type="radio"]:checked + label {
  border: 4px solid black; 
} 

