
.cartpage-body {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-left:0.5rem; 
    margin-right: 0.5rem;
    padding: var(--paddingX);
}

.cartpage-body h2 {
    margin-bottom: 2rem;
}

.cartpage-main {
    line-height: 2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--primaryColor);
    padding-top: var(--paddingTop);
    padding-bottom: 1rem;

}
.cartpage-submain {
    width: 20rem;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0.5rem; 
    padding-bottom: 0.4rem;
    padding-left: 0;
    margin-right: 0.6rem;
    max-height: 13rem;
    display: flex;
    flex-direction: column;
}

.cartpage-submain h2{
    margin-top: 1rem;
}

.cartpage-submain h3 {
    margin-left: 0; 
     padding-left: 0;
}

.cartpage-submain2 {
    width: 20vw;
    max-height: 13rem;
    padding-top: 0.5rem; 
    display: flex;
    flex-direction: row;
    padding-bottom: 0.4rem;
}

.cartpage-submain .item-brand {
    margin-top: 0;
    margin-left: 0;
}

.cartpage-submain .item-name {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0;
}

.cartpage-submain .item-attr {
    width: 2rem;
    height: 2rem;
}

.cartpage-submain2 .increment {
    margin-top: 0;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
} 

.cartpage-submain2 .increment .increase {
    border:2px solid black;
    cursor:pointer;
    color: black;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 1000;
    text-align: center;
}

.cartpage-submain2 .increment .decrease {
    border:2px solid black;
    cursor:pointer;
    color: black;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 800;
    text-align: center;
}

.cartpage-submain2 .product-image {
    width: 13rem;
    max-height: 13rem;
    padding-top: 0.5rem; 
    padding-left: 0.5rem;
}


.item-image-container {
  width: 13rem;
  height: 12.5rem;
  padding: 5px;
  position: relative;
}


.item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}


.item-image-button-container {
  position: absolute;
  display: flex;
  top: 70%;
  left: 82%;
  width: 50%;
}

.item-image-button {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
}

 .button2 {
 margin-left: 1rem;
}
.item-image-button > svg {
  scale: 1.5;
}


.slider-img{
  width: 100%;
  height: 80%;
}

.item-attr {
    width: 2rem;
    height: 2rem;
}

 .color {
    border: 1px solid black;
}

.cartpage-total {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid var(--primaryColor);
}
.cartpage-total div {
    display: flex;
    /* width: 12rem; */

}

.cartpage-total p {
    width: 8rem;
}

.cartpage-total p  span {
    align-items: flex-start;
    text-align:end;
}

.cartpage-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    /* padding: 0.5rem 0.5rem */
}

.cartpage-button  .cartpage-checkout {
    width: 13.5rem;
    height: 2.8rem;
    cursor:pointer;
    background-color: var(--secondaryColor);
    color: white;
    font-size: 15px;
    font-weight: 600;
    border:3px solid var(--secondaryColor);
    margin-bottom: 1rem;

}
.cartpage-button .cartpage-checkout:hover {
    background: white;
    color: var(--secondaryColor);
    border: 3px solid;
}

.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   background: rgba(0,0, 0, 0.1);
   backdrop-filter: blur(3px);
   z-index: 1;
}   

.pdt-amount {
    color: var(--secondaryColor);
}



/* Media Queries */

@media(max-width: 600px) {
    .cartpage-body {
        padding: 0 1rem;
    }

    .cartpage-submain2 {
        width: 50vw;
    }

    .cartpage-submain2 .product-image {
        transform: scale(0.8);
    }

    
.item-image-button-container {
  position: absolute;
  display: flex;
  top: 96%;
  left: 50%;
  width: 50%;
}

    @media(max-width: 376px) {
        .cartpage-main {
            flex-direction: column;
        }

         .cartpage-submain2 {
        width: 50vw;
        margin-top: 1rem;
    }
    }
}